body{
   background-color: rgb(231 231 231 / 93%);
}


.login_box {
    background-color: rgba(256, 256, 256, 0.4);
}

.login_input{
    border-bottom: 2px solid rgb(46, 0, 82);
    background: transparent;
}
.login{
    font-weight: bolder !important;
}

@media (max-width:767px) {
    .login_box{
        width: 70% !important;
    }    
}
@media (max-width:767px) {
    .login_box{
        width: 70% !important;
    }    
}@media (max-width:505px) {
    .login_box{
        width: 85% !important;
    }    
    .forgot_pass{
        font-size: 13px !important;
    }
}
input:focus{
    outline: none;
  }